

.header_container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column; }
    .header_container .header_slogan {
      font-family: "Anaktoria", sans-serif;
      margin-bottom: 100px; }
  
  .article-container {
    display: flex; }
    .article-container .title-p-somos {
      font-family: "Anaktoria", sans-serif; }
    .article-container .title-parraf .title-p {
      font-family: "Anaktoria", sans-serif; }
    .article-container .title-parraf .p-main-index {
      background: #a9d49f;
      text-align: center;
      border-radius: 7px;
      box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.37); }
  
  
  
  @media only screen and (max-width: 600px) {
    .header_container .header_img {
      width: 100%; }
    .header_container .header_slogan {
      text-align: center;
      font-size: 200%;
      color: #979696; }
    .article-img-delivery {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column; }
      .article-img-delivery img {
        width: 80%;
        margin: 10px;
        margin-bottom: 50px;
        border-radius: 100%;
        box-shadow: 1px 2px 10px black;
        transition: .5s; }
      .article-img-delivery img:hover {
        transform: scale(1.3);
        box-shadow: none; }
    .icon {
      padding: .5rem; }
    .article-container {
      flex-direction: column;
      align-items: center;
      justify-content: center; }
      .article-container .container-p-img-index {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        margin-bottom: 100px; }
      .article-container .container-p-img-mision {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        margin-bottom: 100px; }
      .article-container .title-p-somos {
        text-align: center;
        font-size: 200%;
        font-weight: bold;
        padding-left: 10px;
        padding-right: 10px;
        border-bottom: 2px solid;
        border-color: rgba(116, 116, 116, 0.219);
        color: #473205; }
      .article-container .img-main-index {
        width: 90%;
        box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.623);
        margin-bottom: 10px; }
      .article-container .p-main-index-somos {
        background: #a9d49f;
        backdrop-filter: blur 10px;
        text-align: center;
        font-weight: bold;
        width: 90%;
        padding: 10px;
        border-radius: 7px;
        box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.37);
        color: white; }
      .article-container .title-parraf {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column; }
        .article-container .title-parraf .title-p {
          text-align: center;
          font-size: 200%;
          font-weight: bold;
          padding-left: 10px;
          padding-right: 10px;
          border-bottom: 2px solid;
          border-color: rgba(116, 116, 116, 0.219);
          color: #473205; }
        .article-container .title-parraf .p-main-index {
          background: #a9d49f;
          backdrop-filter: blur 10px;
          text-align: center;
          width: 90%;
          padding: 10px;
          border-radius: 7px;
          box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.37);
          color: white; }
      .article-container .container-p-img-vision {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        margin-bottom: 100px; }
    }
  
  @media only screen and (min-width: 600px) {
    .header_container .header_img {
      width: 70%; }
    .header_container .header_slogan {
      text-align: center;
      font-size: 170%;
      color: #979696; }
    .article-img-delivery {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: row; }
      .article-img-delivery img {
        width: 40%;
        margin: 10px;
        margin-bottom: 50px;
        border-radius: 100%;
        box-shadow: 1px 2px 10px black;
        transition: .5s; }
      .article-img-delivery img:hover {
        transform: scale(1.4);
        box-shadow: none; }
    .icon {
      padding: .5rem; }
    .article-container {
      flex-direction: column;
      align-items: center;
      justify-content: center; }
      .article-container .title-p-somos {
        text-align: center;
        font-size: 200%;
        font-weight: bold;
        padding-left: 10px;
        padding-right: 10px;
        border-bottom: 2px solid;
        border-color: rgba(116, 116, 116, 0.219);
        color: #473205; }
      .article-container .container-p-img-index {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column; }
      .article-container .container-p-img-mision {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        margin-bottom: 100px; }
      .article-container .p-main-index-somos {
        background: #a9d49f;
        backdrop-filter: blur 10px;
        text-align: center;
        width: 90%;
        padding: 10px;
        margin-bottom: 100px;
        border-radius: 7px;
        box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.37);
        color: white; }
      .article-container .img-main-index {
        width: 80%;
        box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.623); }
      .article-container .title-parraf {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column; }
        .article-container .title-parraf .title-p {
          text-align: center;
          font-size: 200%;
          font-weight: bold;
          margin-top: 50px;
          padding-left: 10px;
          padding-right: 10px;
          border-bottom: 2px solid;
          border-color: rgba(116, 116, 116, 0.219);
          color: #473205; }
        .article-container .title-parraf .p-main-index {
          background: #a9d49f;
          text-align: center;
          width: 80%;
          padding: 10px;
          border-radius: 7px;
          box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.37);
          color: white;
          font-size: 130%; }
      .article-container .container-p-img-vision {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        margin-bottom: 100px; }
    
  }
  
  @media only screen and (min-width: 768px) {
    .header_container .header_img {
      width: 70%; }
    .header_container .header_slogan {
      text-align: center;
      font-size: 170%;
      color: #979696; }
    .article-img-delivery {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: row; }
      .article-img-delivery img {
        width: 40%;
        margin: 10px;
        margin-bottom: 50px;
        border-radius: 100%;
        box-shadow: 1px 2px 10px black;
        transition: .5s; }
      .article-img-delivery img:hover {
        transform: scale(1.2);
        box-shadow: none; }
    .icon {
      padding: .5rem; }
    .article-container {
      flex-direction: column;
      align-items: center;
      justify-content: center; }
      .article-container .title-p-somos {
        font-size: 200%; }
      .article-container .container-p-img-index {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column; }
      .article-container .container-p-img-mision {
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-direction: row;
        width: 90%;
        margin-bottom: 100px; }
      .article-container .img-main-index {
        width: 50%;
        box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.623); }
      .article-container .p-main-index-somos {
        background: #a9d49f;
        text-align: center;
        width: 50%;
        padding: 30px;
        border-radius: 7px;
        box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.37);
        font-size: 130%; }
      .article-container .title-parraf {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column; }
        .article-container .title-parraf .title-p {
          margin-top: -50px;
          font-size: 200%; }
        .article-container .title-parraf .p-main-index {
          background: #a9d49f;
          text-align: left;
          width: 70%;
          padding: 30px;
          border-radius: 7px;
          box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.37);
          font-size: 100%; }
      .article-container .container-p-img-vision {
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-direction: row-reverse;
        width: 90%;
        margin-bottom: 100px; }
  } 
    
  
  @media only screen and (max-width: 992px) {
    .nav-item {
      margin: 5px;
      text-align: center;
      border: 2px solid rgba(126, 89, 19, 0.418); }
      .nav-item .nav-link {
        font-size: 120%; } }
  
  @media only screen and (min-width: 992px) {
    .header_container .header_img {
      width: 50%; }
    .header_container .header_slogan {
      font-size: 400%; }
    .article-img-delivery {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: row; }
      .article-img-delivery img {
        width: 30%;
        margin: 50px;
        margin-bottom: 100px;
        border-radius: 100%;
        box-shadow: 1px 2px 10px black;
        transition: .5s; }
      .article-img-delivery img:hover {
        transform: scale(1.1);
        box-shadow: none; }
    .icon {
      padding: 1rem; }
    .article-container {
      flex-direction: column;
      align-items: center;
      justify-content: center; }
      .article-container .title-p-somos {
        font-size: 250%; }
      .article-container .p-main-index-somos {
        width: 60%;
        font-size: 200%; }
      .article-container .container-p-img-index {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        margin-bottom: 100px; }
      .article-container .container-p-img-mision {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
        width: 90%;
        margin-bottom: 100px; }
      .article-container .img-main-index {
        width: 50%; }
      .article-container .title-parraf .title-p {
        font-size: 280%; }
      .article-container .title-parraf .p-main-index {
        width: 80%;
        font-size: 100%; }
      .article-container .container-p-img-vision {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row-reverse;
        width: 90%;
        margin-bottom: 100px; }
  }

  
  @media only screen and (min-width: 1440px) {

    .header_container .header_img {
      width: 40%; }
    .header_container .header_slogan {
      font-size: 450%; }
    .article-container {
      flex-direction: column;
      align-items: center;
      justify-content: center; }
      .article-container .title-p-somos {
        font-size: 300%; }
      .article-container .container-p-img-index {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        margin-bottom: 100px; }
      .article-container .container-p-img-mision {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
        width: 90%;
        margin-bottom: 100px; }
      .article-container .img-main-index {
        width: 60%; }
      .article-container .title-parraf .title-p {
        font-size: 300%; }
      .article-container .title-parraf .p-main-index {
        width: 70%;
        font-size: 170%; }
      .article-container .container-p-img-vision {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row-reverse;
        width: 90%;
        margin-bottom: 100px; }
  }
      