
.Card {
    width: 100%;
    background-color:rgb(247, 229, 196);
    border-radius: 2px;
    box-shadow: 0 1px 1px 0 rgb(0 0 0 / 10%), 0 -1px 2px 0 rgb(0 0 0 / 10%);
    margin: 1rem;
    padding: 1.2rem;
}

.Card:hover{
    -webkit-box-shadow: 5px 13px 31px 3px rgba(5, 76, 20, 0.32); 
    box-shadow: 5px 13px 31px 3px rgba(5,76,20,0.32);
}

.title{
    background-color: rgb(170, 212, 160);
    font-size: 300%;
    font-family: "Anaktoria", sans-serif;
}

.CardContainer {
    display: flex;
    width: 30%;
    justify-content: space-between;
}

.CardContent {
    text-align: center;
}

.CardTitle {
    margin:10px;
    font-family: 'Open Sans', sans-serif;
    font-size: 200%;
}

.DetailBtn {
    font-size: 16px;
    font-weight: 600;
    line-height: 48px;
    width: 200px;
    background-color: #a9d49f;
    border: none;
    border-radius: 4px;
    padding: 13px;
    cursor: pointer;
    color: azure;
}

.DetailBtn:hover {
    color:azure;
}

.productos{
    width: 80%;
}