
.Card {
    width: 300px;
    height: 400px;
    background-color:rgb(247, 229, 196);
    border-radius: 2px;
    box-shadow: 0 1px 1px 0 rgb(0 0 0 / 10%), 0 -1px 2px 0 rgb(0 0 0 / 10%);
    margin: 1.6rem 0.8rem 1.6rem 0.8rem;
    flex-grow: 1;
    min-height: 100%;
    position: relative;
    padding: 1.2rem 0.5rem 0.5rem;
}

.Card:hover{
    -webkit-box-shadow: 5px 13px 31px 3px rgba(5, 76, 20, 0.32); 
    box-shadow: 5px 13px 31px 3px rgba(5,76,20,0.32);
}

.CardContainer {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
    float: left;
    justify-content: space-between;
}

.CardContent {
    text-align: center;
}

.CardTitle {
    font-family: sans-serif;
}

.DetailBtn {
    font-size: 16px;
    font-weight: 600;
    line-height: 48px;
    width: 200px;
    background-color: #a9d49f;
    border: none;
    border-radius: 4px;
    padding: 13px;
    cursor: pointer;
    color: azure;
}

.DetailBtn:hover {
    color:azure;
}

.productos{
    width: 100%;
}