
@import url('http://fonts.cdnfonts.com/css/anaktoria');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-size: 16px
    
}

p {
    margin-top: 0;
    
}

a {
    text-decoration: none;
}

body{
  background-color: rgb(245, 242, 228);
    font-family: 'Open Sans', sans-serif;
}